{layout name="layout" /}
<div class="widewrapper subheader">
    <div class="container">
        <div class="clean-breadcrumb">
            <a href="/index/index">首页</a>&nbsp; &rsaquo;&nbsp;
            <a href='/index/index/about'>关于我们</a></div>

        <div class="clean-searchbox">
            <form action="/index/index/search" method="get" accept-charset="utf-8">
                <input class="searchfield" id="searchbox" name="key" type="text" placeholder="搜索文章">
                <button class="searchbutton" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</div>
</header>
<div class="widewrapper main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <article class="blog-post">
                    <header>

                        <div class="lead-image">
                            <img src=""  class="img-responsive">

                        </div>
                    </header>
                    <div class="body">
                        <h1>关于我们</h1>
                        <div class="meta">
                            <i class="fa fa-user"></i> 其他<i class="fa fa-calendar"></i>2017.5.4<i class="fa fa-comments"></i><span class="data"></span>
                        </div>
                        <p>   ZDFANS.COM，更新快、去广告类软件博客领跑者、有态度的知名软件分享站！ </p> 

                            <p>本站是一个热门的安卓软件与PC软件资源分享博客，致力于免费提供优质的原创绿色特别软件、高质量的常用优化软件，偶尔分享些热点资讯及福利，让大家畅享软件的乐趣！所有软件均为站长提供及网友推荐，全部内容采用撰写共用版权协议，要求署名、非商业用途和相同方式共享。如转载请也遵循撰写共用协议。提供的软件仅供日常使用和研究，不得用于任何商业用途。如果您发现本站侵害了相关版权，请联系站长并出示版权证明。根据二○○二年一月一日《计算机软件保护条例》规定：为了学习和研究软件内含的设计思想和原理，通过安装、显示、传输或者存储软件等方式使用软件的，可不经软件著作权人许可，无需向其支付报酬！鉴此，也望大家按此说明转载和分享软件! 
                                ZDFANS.COM，初衷为非营利性的软件下载博客，由于提供的软件无广告、特干净、质量高、加上日复一日坚持不懈的更新速度，人气及访问量越来越高。站内页面之所以有广告，是为了让网站的运营能正常运作，非常感谢访客朋友！  </p>

                            <p>本站资源免责声明</p>

                            <p>本站所有资源来自互联网，原创类软件仅为站长兴趣研究，仅供免费参考之用，不得用于任何商业用途。版权归原公司所有！下载试用后请24小时内删除，因下载本站资源造成的损失，全部由使用者本人承担！根据署名-非商业性使用-相同方式共享 (by-nc-sa) 许可协议规定，只要他人在以原作品为基础创作的新作品上适用同一类型的许可协议，并且在新作品发布的显著位置，注明原作者的姓名、来源及其采用的知识共享协议，与该作品在本网站的原发地址建立链接，他人就可基于非商业目的对原作品重新编排、修改、节选或者本人的作品为基础进行创作和发布。基于原作品创作的所有新作品都要适用同一类型的许可协议，因此适用该项协议， 对任何以他人原作为基础创作的作品自然同样都不得商业性用途。</p>

                            <p>为什么做网站，以及坚持到现在的理由？</p>

                            <p>一、基本是兴趣爱好，义务的，既然是非商业的，就是自费买域名和空间为人民服务，入不敷出，因为过滤页面广告的人多，广告费几乎没有，大部分都投入服务器及技术托管！</p>

                            <p>二、都是利用业余时间来维护网站更新的… 听起来好简单是吧…</p>

                            <p>实际上，要想时时保持最新，不但业余时间全用上，而且节假日时间，甚至工作时间都用上，这还不包括吃饭、（包括路上的时间和提前就位等待的时间），和家人、朋友相处等等…..</p>

                            <p>而用户只需要来这里下载就行了，并且免费，没看到什么感兴趣的、更新不及时，还会被骂。</p>

                            <p>我背后要做：上传（网速慢的时候几小时也传不上来）、下载、绿化、打包、测试、接受反馈（每天还有人要我做这做那）、修正，继续寻找新版本…… 技术不够用还要去找资料、向高人请教，还要等待人家的回复，万一不理你，你还得继续找… 这一整套下来，剩余时间为负。这里面任何一项也都绝对不是分分钟就能够完成。</p>

                            <p>摊子已经铺得太大，一般人早已崩溃。可这一切我其实都可以不做。没有人要求我做这些。可我喜欢分享，这就是我的乐趣所在。我还喜欢学习不懂的技术，虽然我的基础非常有限，但是每天前进一小步而不是后退一小步，感觉就够了。</p>

                            <p>so… 做网站的人不容易；做个人网站的更不容易——且行且珍惜…貌似现在粉流行这句 ^^);</p>

                    </div>
                </article>