<div class="row">  
    <div class="col-md-2">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title text-center">
                        <a data-toggle="collapse" data-parent="#accordion"  href="#collapseOne">
                            类型检索
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p class="text-center"><a href="/admin/art/typeSelect" target="list" >所有分类</a></p>
                        {volist name="typeList" id="type"}
                        <p class="text-center"><a href="/admin/art/typeSelect?typeId={$type.typeId}" target="list">{$type.typeName}</a></p>
                        {/volist}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title text-center">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            排序检索
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <center>
                            <button type="button" class="btn btn-default" data-toggle="collapse"  data-target="#id">
                                按编号排序
                            </button>                               
                            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#type">
                                按分类排序
                            </button>
                            <div id="id" class="collapse">
                                <a href="/admin/artList/id/asc" target="list" >编号升序</a>
                                <a href="/admin/artList/id/desc" target="list" >编号降序</a>
                            </div>
                            <div id="type" class="collapse">
                                <a href="/admin/artList/typeId/asc" target="list" >分类升序</a>
                                <a href="/admin/artList/typeId/desc" target="list">分类降序</a>
                            </div>
                            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#title">
                                按标题排序
                            </button>                               
                            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#comment">
                                按评论排序
                            </button>
                            <div id="title" class="collapse">
                                <a href="/admin/artList/title/asc" target="list" >标题升序</a>
                                <a href="/admin/artList/title/desc" target="list">标题降序</a>
                            </div>
                            <div id="comment" class="collapse">
                                <a href="/admin/artList/comment/asc" target="list" >评论升序</a>
                                <a href="/admin/artList/comment/desc" target="list">评论降序</a>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title text-center">
                        <a data-toggle="collapse" data-parent="#accordion" 
                           href="#collapseThree">
                            关键字检索
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="input-group">
                            <input type="text" name="key" id="key"  class="form-control" >
                            <span class="input-group-btn">
                                <center>
                                    <button class="btn btn-default" id="search" type="button" onclick="searchClick()" >
                                        搜索
                                    </button>
                                </center>
                            </span>
                        </div>
                        <span id="result" class="text-danger" ></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <table  class="table table-striped table-bordered table-hover"  border="0" cellpadding="8" cellspacing="1" bgcolor="#000000">
            <tr>
                <td colspan="5" align="center" bgcolor="#FFFFFF">文章列表</td>
            </tr>
            <tr>
                <td  bgcolor="#FFFFFF">编号</td>
                <td  bgcolor="#FFFFFF">分类</td>
                <td  bgcolor="#FFFFFF">标题</td>
                <td  bgcolor="#FFFFFF">评论数</td>
                <td  bgcolor="#FFFFFF">操作</td>
            </tr>
            {volist name="list" id="article"}
            <tr>
                <td>&nbsp;{$article.id}</td>
                <td>&nbsp;{$article.type.typeName}</td>
                <td>&nbsp;{$article.title}</td>
                <td>&nbsp;{$article.comment}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default"><a href="/index/index/show?id={$article.id}">查看文章</a></button>
                        <button type="button" class="btn btn-default"><a href="/index/index/show?id={$article.id}">查看评论</a></button>
                        <button type="button" class="btn btn-default"><a href="/admin/art/showModify?id={$article.id}">修改</a></button>
                        <button type="button" class="btn btn-default"><a href="/admin/art/del?id={$article.id}">删除</a></button> 
                    </div>
                </td>
            </tr>
            {/volist}
        </table>
        <ul class='pagination'>{$render}</ul>
    </div>
</div>

