<form role="form" id="form1" name="form1" method="post" action="/admin/art/modify">
    <input type="hidden" name="id" value="{$art.id}" />  
    <div class="form-group"><h3 class="text-center">修改文章</h3></div>
    <div class="form-group">
        <label  for="title" class="col-sm-2 control-label">标题:</label>
        <input class="form-control" style="width:30%" type="text" name="title" id="title" value="{$art.title}"/>
    </div>
    <div class="form-group">
        <label for="type" class="col-sm-2 control-label" >类型:</label>
        <select class="form-control" name="typeId"  style="width:10%" size="1">
            {volist name="typeList" id="type"}
            <option value="{$type.typeId}" 
                    {if condition="$art.type.typeId==$type.typeId"} selected="selected"{/if} >{$type.typeName}</option>
            {/volist}
        </select>
    </div>
    <div class="form-group">
        <label for="dsecription" class="col-sm-2 control-label">简介:</label>
        <textarea  class="form-control" style="width:30%" name="description" id="description" cols="60" rows="5">{$art.description}</textarea>
    </div>
    <div class="form-group">
        <label for="content" class="col-sm-2 control-label">内容:</label>
        <textarea  class="form-control"  style="width:50%" id="content"  name="content" cols="60" rows="15" id="content" >{$art.content}</textarea>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">提交</button>
        </div>
    </div>
</form>
